qdrant-client[fastembed]
langchain-qdrant
langchain-openai
langchain-text-splitters
python-dotenv
pypdf
sentence-transformers
pydantic
typing
rank_bm25
psycopg[binary]
langchain
langchain-openai
python-dotenv
boto3>=1.41.0
botocore[crt]
awscrt
pandas
numpy
langchain-community
langgraph
fastapi>=0.115
uvicorn[standard]>=0.30
